* {
    box-sizing: border-box;
}

body {
    width: 70%;
    margin: 0 15%;
    font-family: sans-serif, arial, helvetica;
    border: 1px solid black;
}

.card {
    border: 1px solid black;
    width: 100px;
    height: 150px;
}