* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, arial, helvetica;
    font-size: 24px;
}

.gameBoard {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.card {
    margin: 20px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.card > p {
    text-align: center;
    margin: 45%;
}

.show {
    background-color: red;
}

.disabled {
    background-color: black;
}

.disabled > p {
    opacity: 0;
}

