* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, arial, helvetica;
    font-size: 24px;
}

.app {
    width: 900px;
    height: 670px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}

.statusBar {
    display:flex;
    justify-content: space-around;
}

.gameBoard {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.card > p {
    text-align: center;
    margin: 40%;
}

.show {
    background-color: white;
}

.disabled {
    background-color: black;
}

.disabled > p {
    opacity: 0;
}

